/* Contenedor principal */
.app-container {
    font-family: 'KageRetro', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
  }
  
  /* Secciones */
  .section {
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease;
  }
  
  .section.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px #333;
  }
  
  p {
    font-size: 1.5rem;
    text-align: center;
    max-width: 800px;
  }
  
  /* Animaciones */
  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  