/* Contenedor principal */
.app-container {
    font-family: 'KageRetro', sans-serif;
    color: white;
    padding: 0;
    margin: 0;
  }
  
  /* Menú sticky */
  .sticky-nav {
    position: sticky;
    top: 0;
    background-color: #fb1f34; /* Color retro */
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    z-index: 100;
    border-bottom: 2px solid #fff;
  }
  
  .sticky-nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.3s ease;
  }
  
  .sticky-nav a:hover {
    color: #ffd700; /* Color dorado retro */
  }
  
  /* Secciones */
  .section {
    min-height: 100vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.5s ease;
  }
  
  .section.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  
  h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px #333;
  }
  
  p {
    font-size: 1.5rem;
    text-align: center;
    max-width: 800px;
  }
  
  /* Animaciones */
  .fade-in {
    opacity: 1;
    transform: translateY(0);
  }
  